.env
docs/IoT Thing of Things.xlsx
iotmap-*.json
static/config/keys.json
dump
logs
static/map/bob.json
.vs
node_modules
npm
*.sln
*.esproj
*.njsproj
package_ts.json
iot_map.njsproj.user
*-boilerplate.js
config/*.json
